<!DOCTYPE html>
<html>
<head>
    <title>vuejs crud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" />
</head>
<body>

    <div id="root">
        <section-title>
            <span slot="title">servlet + jsp + jdbc</span>
            <span slot="subtitle">Basic CRUD</span>
        </section-title>

        <div class="box">
            <article class="message is-warning">
            <div class="message-header">
                Insert New Employee
            </div>
            <div class="message-body">
                <div class="field">
                  <label class="label">Name</label>
                  <p class="control">
                    <input class="input" v-model="inputData" type="text" placeholder="Input A Employee Name">
                  </p>
                </div>

                <div class="field is-grouped">
                  <p class="control">
                    <button class="button is-info" @click="insertData">Submit</button>
                  </p>
                  <p class="control">
                    <button class="button is-danger" @click="clearData">Cancel</button>
                  </p>
                </div>
            </div>
            </article>

            <article class="message is-warning">
            <div class="message-header">
                Query Data <br> (clicking first column to modify employee name)
            </div>
            <div class="message-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th><abbr title="Position">Pos</abbr></th>
                      <th>Team</th>
                      <th><abbr title="Played">Pld</abbr></th>
                      <th><abbr title="Won">W</abbr></th>
                      <th><abbr title="Drawn">D</abbr></th>
                      <th><abbr title="Lost">L</abbr></th>
                      <th><abbr title="Goals for">GF</abbr></th>
                      <th><abbr title="Goals against">GA</abbr></th>
                      <th><abbr title="Goal difference">GD</abbr></th>
                      <th><abbr title="Points">Pts</abbr></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Position">Pos</abbr></th>
                      <th>Team</th>
                      <th><abbr title="Played">Pld</abbr></th>
                      <th><abbr title="Won">W</abbr></th>
                      <th><abbr title="Drawn">D</abbr></th>
                      <th><abbr title="Lost">L</abbr></th>
                      <th><abbr title="Goals for">GF</abbr></th>
                      <th><abbr title="Goals against">GA</abbr></th>
                      <th><abbr title="Goal difference">GD</abbr></th>
                      <th><abbr title="Points">Pts</abbr></th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr v-for="row in rows" @click="row.selected = !row.selected" :class="{'is-selected' : row.selected}">
                      <th @dblclick="modifyData(row)">{{ row.content }}</th>
                      <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                      </td>
                      <td>38</td>
                      <td>23</td>
                      <td>12</td>
                      <td>3</td>
                      <td>68</td>
                      <td>36</td>
                      <td>+32</td>
                      <td>81</td>
                      <td><a class="delete is-large" @click="deleteData(row)"></a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </article>

        </div>
    </div>

    <template id="header">
        <section class="hero is-small is-info is-bold">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                <slot name="title"></slot>
              </h1>
              <h2 class="subtitle">
                <slot name="subtitle"></slot>
              </h2>
            </div>
          </div>
        </section>
    </template>

    <script src="https://unpkg.com/vue@2.3.2"></script>
    <script type="text/javascript">
        Vue.component('section-title', {
            template: '#header'
        });

        new Vue({
            el: '#root',
            data: {
                inputData: '',
                rows: [
                    {"content": "three", selected: false},
                    {"content": "two", selected: true},
                    {"content": "one", selected: false}
                ]
            },
            methods: {
                insertData: function() {
                    this.rows.push({"content": this.inputData, selected: false});
                    this.clearData();
                },
                clearData: function() {
                    this.inputData = '';
                },
                deleteData: function(row) {
                    var index = this.rows.indexOf(row);
                    this.rows.splice(index, 1);
                },
                modifyData: function(row) {

                }
            }
        });
    </script>
</body>
</html>